/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
 .page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --large-main-color: #ffc2e6; 
  --accent-color:#ff8dc8;
  --shadow-color: #ff0070;
  --subtitle-color: #353430;
  --primary-font: 'IBM Plex Mono', Monospace; 
  --large-font-size: 116px;
  --small-font-size: 18px;
  --decorated-indent: 0;
  --button-hover: rgba(50, 49, 45, 0.40);
  background-image: url(../images/cover-image-light.png);
  }

  .theme_light .small__element {
    display: none;
  }
 
  .theme_light .decorated-zone::before {
    border-block-start: 1px solid var(--subtitle-color);
    border-inline-end: 1px solid var(--subtitle-color);
  }

  .theme_light .decorated-zone::after {
    border-block-end: 1px solid var(--subtitle-color);
    border-inline-start: 1px solid var(--subtitle-color);
  } 

  .theme_light .title-decor {
    color: var(--subtitle-color);
  }

  .theme_light .header__theme-menu-button {
    color: var(--subtitle-color);
  }

  .theme_light .header__theme-menu-button:hover { 
    outline: 1px solid var(--button-hover);
  }
    
  .theme_light .header__theme-menu-button_active {
    outline: 1px solid var(--subtitle-color);
  }
    
  .theme_light .header__theme-menu-button:focus {
    border-block-end: 1px solid var(--subtitle-color);
  }

  .theme_light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--subtitle-color);
  }

  .theme_light .section-title {
    color: var(--subtitle-color);
  }

  .theme_light .main-text {
     color: var(--subtitle-color);
  }

  .theme_light a:hover {
    border-bottom: 1px solid var(--subtitle-color);
  }

  .theme_light a:focus {
    outline: 1px solid var(--subtitle-color);
  }

  .theme_light a:focus-visible {
    outline: 1px solid var(--subtitle-color);
  }

  @media (width >= 1024px) {
    .theme_light .heading {
      text-shadow: 4px 4px 0 var(--shadow-color);
    }
      
    .theme_light .title-end {
      text-shadow: 2px 2px 0 var(--shadow-color);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --large-main-color: #ffc2e6; 
      --accent-color: #ff8dc8;
      --shadow-color: #ff0070;
      --subtitle-color: #353430;
      --primary-font: 'IBM Plex Mono', Monospace; 
      --large-font-size: 116px;
      --small-font-size: 18px;
      --decorated-indent: 0;
      --button-hover: rgba(50, 49, 45, 0.40);
    }

    .small__element {
      display: none;
    }

    .page {
      background-image: url(../images/cover-image-light.png);
    }
    
    .decorated-zone::before {
      border-block-start: 1px solid var(--subtitle-color);
      border-inline-end: 1px solid var(--subtitle-color);
    }

    .decorated-zone::after {
      border-block-end: 1px solid var(--subtitle-color);
      border-inline-start: 1px solid var(--subtitle-color);
    } 

    .title-decor {
      color: var(--subtitle-color);
    }
      
    .header__theme-menu-button {
      color: var(--subtitle-color);
    }
      
    .header__theme-menu-button:hover { 
      outline: 1px solid var(--button-hover);
    }
      
    .header__theme-menu-button_active {
      outline: 1px solid var(--subtitle-color);
    }
      
    .header__theme-menu-button:focus {
      border-block-end: 1px solid var(--subtitle-color);
    }

    .header__theme-menu-button:focus-visible {
      border-block-end: 1px solid var(--subtitle-color);
    }

    .section-title {
      color: var(--subtitle-color);
    }

    .main-text {
       color: var(--subtitle-color);
    }

    a:hover {
      border-bottom: 1px solid var(--subtitle-color);
    }

    a:focus {
      outline: 1px solid var(--subtitle-color);
    }
    
    a:focus-visible {
      outline: 1px solid var(--subtitle-color);
    }

    @media (width >= 1024px) {
      .heading {
        text-shadow: 4px 4px 0 var(--shadow-color);
      }
        
      .title-end {
        text-shadow: 2px 2px 0 var(--shadow-color);
      }
  }
}



    

  






