/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: clamp(0.625rem, 0.0271rem + 2.551vw, 1.25rem); /*отступы адаптировала от 10рх для 375 и до 20рх для 768*/
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  inline-size: 100%;
  min-block-size: 100vh; 
  display: grid;
  position: relative;
  font-family: var(--primary-font);
  padding: var(--main-blok-padding);
  /*padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
}


.decorated-zone::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-inline-end: var(--decorated-indent);
  inset-block-start: var(--decorated-indent);
  block-size: 25px;
  inline-size: 25px;
/*top: 0;
  right: 0;*/
  /*top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
  /*top: 10px;
  right: 10px;*/
  /*inset-inline-start: 91%; 
  inset-block-start: 1.5%;*/
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--decorated-indent);
  inset-block-end: var(--decorated-indent);
  /*left: 0;
  bottom: 0px;*/
  /*left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
  /*left: 10px;
  bottom: 10px;*/
  /*inset-block-start: 94.8%;
  inset-inline-start: 3%;*/
} 

.small__element {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px; 
  /*inset-inline-end: calc(var(--decorated-indent) + 39px); верный метод сказал наставник,но не работает)
  inset-block-start: var(--decorated-indent);*/
  top: 0;
  right: 29px;
}
/*прежние способы задачи отступов. не нужно их брать: top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(2.375rem, 1.7786rem + 2.5445vw, 3rem);*//*top: 0;
  right: 29px;*/
  /*top: 10px;
  right: 38px;*/
  /*inset-inline-start: 81%;
  inset-block-start: 1.5%;*/


.small__element::after {
  content: '';
  position: absolute;
  margin-block-start: 8px;
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  margin-block-start: 9px;
  justify-self: end;
  align-self: end;
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

.header__theme-menu-item {
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--accent-color);
  font-size: var(--small-font-size);
  inline-size: 68px;
  block-size: 24px;
  transition-property: all;
  transition-duration: 0.5s;
}

.header__theme-menu-button:hover { 
  outline: 1px solid var(--button-hover);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
} 

.heading {
  color: var(--large-main-color);
  font-size: var(--large-font-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: 700;
  align-self: center;
}

.subtitle {
  font-size: var(--small-font-size);
  font-weight: 700;
  line-height: 23.4px;
  max-block-size: 117px;
  margin-block-start: 26px;
  height: min-content;
}


.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.page-block {
  padding: var(--page-blok);
  display: grid;
  line-height: 23.4px;
  margin-block-start: 40px;
}

.section-title {
  color: var(--accent-color);
  font-size: var(--small-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 23.4px;
}

.note-text {
  font-size: var(--small-font-size);
  font-family: var(--primary-font);
  margin-block-start: 20px;
}

.main-text {
  color: var(--paragraph-color);
  margin-block-start: 10px;
  font-family: var(--primary-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: 23.4px;
}

a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration-line: none;
}

a:hover {
  border-bottom: 1px solid var(--paragraph-color);
}

a:focus {
  outline: 1px solid var(--paragraph-color);
}

a:focus-visible {
  outline: 1px solid var(--paragraph-color);
}

.main__page-block {
  /*padding: var(--page-blok);*/
  margin-block-start: 50px;
  display: grid;
}

.information__page-block {
  /*padding: var(--page-blok);*/
  margin-block-start: 50px;
  display: grid;
}

.note-text-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  font-family: var(--primary-font);
  margin-block-start: 20px;
}

.page__block-content {
  margin-block-start: 30px;
  /*padding: var(--page-blok);*/
  display: grid;
  gap: 10px;
}

.grid-images {
  display: grid;
  gap: 10px;
}

.picture-style {
  inline-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  inline-size: 100%;
  min-block-size: 100vh; 
  display: flex;
  padding-top: 10px; /*уголок стоит НЕ перед паддингом,а в нем - исправить*/
  margin-block-start: 44px;
  position: relative;
}

.title-end {
  font-size: var(--large-font-size);
  font-family: var(--primary-font);
  color: var(--large-main-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
}

.decorated-zone-end::before {
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inset-inline-end: var(--decorated-indent);
  inset-block-start: var(--decorated-indent);
  /*top: 0;
  right: 0;*/
  /*top: 10px;
  right: 10px;*/
  /*inset-inline-start: 91%;*/
  
}

.decorated-zone-end::after { 
  content: '';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inset-inline-start: var(--decorated-indent);
  inset-block-end: var(--decorated-indent);
  /*left: 0;
  bottom: 0;*/
  /*left: 10px;
  bottom: 10px;*/
  /*inset-block-start: 94.8%;*/
  
}

@media (width >= 768px) {

  .header {
    grid-template-rows: repeat(3, 1fr);
    max-inline-size: 100dvw;
    min-block-size: 100vh;
    --main-blok-padding: 0 0 20px 0;
    padding: var(--main-blok-padding);
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    align-self: center;
    margin-inline-start: -3%;
  }

  .subtitle {
    width: 50%;
    justify-self: end;
    margin-block-start: 7%;
  } 

  .decorated-zone::before {
    /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/
   
    /* top: 0;
    right: 0;*/
   /* top: 20px;
    right: 20px;*/
  /*inset-block-start: 2.1%;
  inset-inline-start: 94%;*/
  }
  
  .decorated-zone::after {
  /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/

    /*left: 0;
    right: 0;*/
    /*left: 20px;
    bottom: 20px;*/
  /*inset-block-start: 95.5%;
  inset-inline-start: 2.5%;*/
  } 

  .small__element {
    top: 0;
    right: 30px;
    /*top: 20px;
    right: 48px;*/
    /*inset-inline-start: 89.5%;
    inset-block-start: 2%;*/
  }

  .header__theme-menu-list {
    margin-block-end: 8%;
  }

  .page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    grid-template-columns: 1fr 65%;
  }

  .page-block, .grid-text {
    grid-column: 2;
  }

  .note-text {
    margin-block-start: 20px;
  }

  .section-title {
    margin-block-start: 20px;
    max-inline-size: 236px;
  }

  .main__page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    margin-block-start: 60px;
    gap: 0px;
  }

  .information__page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    display: grid;
    grid-template-columns: 236px 1fr;
    margin-block-start: 60px;
    column-gap: 20px;
  }

  .page__block-content {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    margin-block-start: 60px;
  }

  .note-text-text {
    margin-block-start: 20px;
  }

  .additional_indentation {
    max-block-size: 23px;
    display: block;
  }

  .additional_indentation br {
      display: none;
  }

  .grid-images {
    margin-block-start: 10px;
    display: grid;
    gap: 20px; 
    grid-template-areas:
    'sunset sunset food'
    'music reading food'
    'music city city'; 
  }

  .visual-sunset-picture {
    grid-area: sunset;
  }

  .visual-sunset {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  .visual-music-picture {
    grid-area: music;
  }

  .visual-music {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-food-picture {
    grid-area: food;
  }

  .visual-food {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-reading-picture {
    grid-area: reading;
  }

  .visual-reading {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-city-picture {
    grid-area: city;
  }

 .visual-city {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .footer {
    margin-block-start: 61px; 
    min-block-size: 100vh; 
    display: grid;
    justify-self: center;
    padding-top: 20px; /*верхний уголок на паддинге, а не под ним*/
    /*--main-blok-padding: 20px; 
    padding: var(--main-blok-padding);*/
  }
  
  .title-end {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    align-self: center;
    margin: auto;
  }

  .decorated-zone-end::before {
    top: 0;
    right: 0;
    /*top: 20px;
    right: 20px;*/
    /*inset-inline-start: 94%;
    inset-block-start: 2%;*/
  }

  .decorated-zone-end::after {
    left: 0;
    bottom: 0;
    /*left: 20px;
    bottom: 20px;*/
    /*margin-inline-start: 20px;
    inset-block-start: 95.7%;*/
  }
} 

  

@media (width >= 1024px) {

  .header {
    grid-template-rows: repeat(3, 1fr);
    max-inline-size: 100dvw;
    min-block-size: 100vh; 
    --main-blok-padding: 0 0 20px 0;
    padding: var(--main-blok-padding);
    /*--main-blok-padding: 20px;
    padding: var(--main-blok-padding);*/
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -2%;
    align-self: center;
  }

  .subtitle {
    width: 50%;
    max-height: 71px;
    margin-block-start: 57px;
  }

  .decorated-zone::before {
    /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/
   
    /*top: 0;
    right: 0;*/
    /*top: 20px;
    right: 20px;*/
  /*inset-block-start: 2.1%;
  inset-inline-start: 94%;*/
  }
  
  .decorated-zone::after {
    /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/
   
    /*left: 0;
    bottom: 0;*/
    /*left: 20px;
    bottom: 20px;*/
  /*inset-block-start: 95.5%;
  inset-inline-start: 2.5%;*/
  } 

  .small__element {
    top: 0;
    right: 28px;
    /*top: 20px;
    right: 48px;*/
    /*inset-inline-start: 89.5%;
    inset-block-start: 2%;*/
  }

  .header__theme-menu-list {
    display: flex;
    align-self: start;
    justify-self: center;
    margin-block-start:1px;
  } 

  .page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    margin-block-start: 40px;
    grid-template-columns: 1fr 66%;
  }

  .note-text {
    margin-block-start: 21px;
  }

  .section-title {
    margin-block-start: 20px;
    max-inline-size: 315px;
  }

  .main__page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    margin-block-start: 60px;
    gap: 0px;
  }

  .information__page-block {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    display: grid;
    grid-template-columns: 1fr 66%;
    margin-block-start: 58px;
  }

  .page__block-content {
    /*--page-blok: 0 20px;
    padding: var(--page-blok);*/
    margin-block-start: 60px;
  }

  .note-text-text {
    margin-block-start: 20px;
  }

  .margin-title {
    margin-block-start: 0;
  }

  .additional_indentation {
    max-block-size: 23px;
    display: block;
  }

  .additional_indentation br {
      display: none;
  }

  .flex-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .grid-images {
    margin-block-start: 10px;
    display: grid;
    gap: 20px; 
    grid-template-areas:
    'sunset sunset food'
    'music reading food'
    'music city city';  
  }

  .visual-sunset-picture {
    grid-area: sunset;
  
  }

  .visual-sunset {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  .visual-music-picture {
    grid-area: music;
  }

  .visual-music {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-food-picture {
    grid-area: food;
  }

  .visual-food {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-reading-picture {
    grid-area: reading;
  }

  .visual-reading {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .visual-city-picture {
    grid-area: city;
  }

  .visual-city {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .footer { 
    min-block-size: 100vh; 
    /*--main-blok-padding: 20px; 
    padding: var(--main-blok-padding);*/
  }
  
  .title-end {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .decorated-zone-end::before {
    /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/

    /*top: 0;
    right: 0;*/
    /*top: 18px;
    right: 20px;*/
    /*inset-inline-start: 94%;
    inset-block-start: 2%;*/
  }

  .decorated-zone-end::after {
    /*если я выше в этом элементе указала переменную с 0. То тут ведь уже не надо прописывать?*/

    /*left: 0;
    bottom: 0;*/
    /*left: 20px;
    bottom: 22px;*/
    /*margin-inline-start: 20px;
    inset-block-start: 95.7%;*/
  }

}
    


