/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --large-main-color: #db00ff; 
  --subtitle-color: #000028;
  --paragraph-color: #f1b2ce;
  --primary-font: 'IBM Plex Mono', Monospace; 
  --large-font-size: 116px;
  --small-font-size: 18px;
  --accent-color: #ff0070;
  --decorated-indent: 0;
  --button-hover: rgba(255, 0, 112, 0.40);
}
